html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #333;
}

.rui-app {
    width: 100%;
    height: 100%;
    position: relative;
}

.rui-header {
    padding: 5px 10px;
    background: #f5f5f5;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
}

.rui-title {
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    font-weight: bold;
}

.rui-sub {
    padding-left: 10px;
    color: #666;
    height: 30px;
    line-height: 30px;
    flex: 1;
}

.icon-github {
    display: block;
    margin-right: 5px;
    width: 26px;
    height: 26px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 26px 26px;
    background-image: url("images/github.svg");
    opacity: 0.6;
}

.icon-github:hover {
    opacity: 1;
}

.rui-body {
    overflow-y: auto;
    padding: 10px;
}

.rui-item {
    border-bottom: 1px dotted #ccc;
    padding: 5px;
}

.rui-item-name {
    width: 99px;
    padding: 5px 5px 5px 0;
    overflow: hidden;
    color: #000;
}

.rui-item-example {
    border-left: 1px solid #ccc;
    padding: 5px 5px 5px 10px;
}

.rui-demo-flex-item {
    background: #ccc;
}
