html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: #333;
    font-size: 14px;
    font-family: Helvetica, Arial, sans-serif;
}

.rui-app {
    position: relative;
    width: 100%;
    height: 100%;
}

.rui-header {
    padding: 5px 10px;
    box-sizing: border-box;
    border-bottom: 1px solid #ccc;
    background: #f5f5f5;
}

.rui-title {
    height: 30px;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
}

.rui-sub {
    flex: 1;
    height: 30px;
    color: #666;
    line-height: 30px;
}

.icon-github {
    display: block;
    width: 26px;
    height: 26px;
    margin-right: 5px;
    background-image: url("images/github.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 26px 26px;
    opacity: 0.6;
}

.icon-github:hover {
    opacity: 1;
}

.rui-body {
    padding: 10px;
    overflow-y: auto;
}

.rui-item {
    padding: 5px;
    border-bottom: 1px dotted #ccc;
}

.rui-item-name {
    width: 99px;
    padding: 5px 5px 5px 0;
    color: #000;
    overflow: hidden;
}

.rui-item-example {
    padding: 5px 5px 5px 10px;
    border-left: 1px solid #ccc;
}

.rui-demo-flex-item {
    background: #ccc;
}
