.rui-button {
    display: block;
    min-width: 50px;
    max-width: 200px;
    padding: 5px 8px;
    color: #6c757d;
    font-weight: 400;
    white-space: nowrap;
    text-align: center;
    text-overflow: ellipsis;
    vertical-align: middle;
    border: 1px solid transparent;
    border-color: #6c757d;
    border-radius: 5px;
    background-color: #f5f5f5;
    overflow: hidden;
    user-select: none;
    transition:
        color 0.15s ease-in-out,
        background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out;

    &:focus {
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
    }

    &:disabled {
        opacity: 0.65;
    }

    &:not(:disabled) {
        cursor: pointer;
    }

    &:not(:disabled):hover {
        color: #fff;
        border-color: #6c757d;
        background-color: #6c757d;
    }

    &.rui-button-primary {
        color: #fff;
        border-color: #007bff;
        background-color: #007bff;

        &:hover {
            color: #fff;
            border-color: #0062cc;
            background-color: #0069d9;
        }

        &:focus {
            box-shadow: 0 0 0 0.2rem rgb(38 143 255 / 50%);
        }

        &:disabled {
            color: #fff;
            border-color: #6c757d;
            background-color: #6c757d;
            opacity: 0.65;
        }
    }
}
