.rui-switch {
    display: flex;
    align-items: center;

    .rui-switch-disabled {
        cursor: default;
        opacity: 0.5;
    }
}

.rui-switch-label {
    margin-right: 5px;
}

.rui-switch-button {
    position: relative;
    cursor: pointer;
    transition: background-color 0.1s;
}

.rui-switch-icon {
    position: absolute;
    top: 2px;
    height: calc(100% - 4px);
    border-radius: 50%;
    background-color: #fff;
    transition: right 0.1s ease-in-out;
}

.rui-switch-checked {
    .rui-switch-icon {
        right: 2px;
    }
}
