.rui-select {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;

    label {
        position: relative;
        padding-right: 5px;
        white-space: nowrap;
        text-overflow: ellipsis;
        display: inline-block;
    }
}

.rui-select-view {
    cursor: default;
    position: relative;
    background-image: url("./images/select.svg");
    background-repeat: no-repeat;
    background-size: 8px 10px;
    background-position: right 7px center;
    padding: 0 20px 0 5px;
    border-radius: 5px;
    width: 50px;
    min-width: 50px;
    height: 30px;
    border: 1px solid #aaa;
    user-select: none;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    &:disabled {
        border: 1px solid #ccc;
        color: gray;
        background-image: url("./images/select-disabled.svg");
    }

    &:hover:not(:disabled) {
        border: 1px solid #888;
    }

    &:focus:not(:disabled) {
        border-color: #80bdff;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
    }
}

.rui-select-search {
    cursor: text;
}

/* holder for width computed */
.rui-select-holder {
    position: absolute;
    width: 500px;
    visibility: hidden;
}

/* top/left -500px will not caused body size change */
.rui-select-list {
    position: absolute;
    top: -500px;
    left: -500px;
    background-color: #fff;
    z-index: 10000;
    border: 1px solid #aaa;
    border-radius: 5px;
    max-width: 350px;
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
    box-shadow: 0 2px 3px 0 rgb(0 0 0 / 20%);
}

.rui-select-item-label {
    min-height: 1rem;
    flex: 1 1 0%;
    overflow: hidden;
}

.rui-select-item-remove {
    position: relative;
    cursor: pointer;
    width: 25px;
    height: 20px;
    visibility: hidden;
    color: #000;
    opacity: 0.6;

    &:hover {
        opacity: 1;
    }
}

.rui-select-item {
    padding: 8px 5px;
    position: relative;
    cursor: pointer;
    border-bottom: 1px solid #eee;
    color: #555;
    display: flex;
    flex-direction: row;
    align-items: center;

    &:nth-last-child(1) {
        border-bottom: none;
    }

    &.selected {
        background: #666;
        color: #fff;

        .rui-select-item-remove {
            color: #fff;
        }
    }

    &:hover {
        background: #e8e8e8;

        .rui-select-item-remove {
            visibility: visible;
        }
    }

    &.selected:hover {
        background: #555;
    }
}
